---
import LayoutLibros from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Mesi from '../../components/Mesi.astro';
import { getCollection } from 'astro:content';
import LibrosLista from '../../components/LibrosLista.astro';
import H1 from '../../components/UI/H1.astro';
import Main from '../../components/UI/Main.astro';
import Books from '../../components/UI/Books.astro';

const todosLosLibros = await getCollection('libros');
/* const tuttiIconcorrenti = await getCollection('concorrenti'); */
const librosEnero = todosLosLibros.filter(
  libro => libro.data.monthRead === 'enero'
);

// filter only unique libros
const uniqueLibrosEnero = librosEnero.filter(
  (libro, index, self) =>
    index ===
    self.findIndex(
      t =>
        t.data.title === libro.data.title && t.data.author === libro.data.author
    )
);

const countLibrosEnero = librosEnero.length;
---

<LayoutLibros title='Libros'>
  <Header />
  <Main>
    <H1 month='Enero' count={countLibrosEnero} />
    <Books>
      <LibrosLista libros={uniqueLibrosEnero} />
    </Books>
    <Mesi />
  </Main>
</LayoutLibros>
