---
import LayoutLibros from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import H1 from '../../components/UI/H1.astro';
import Main from '../../components/UI/Main.astro';
import Books from '../../components/UI/Books.astro';
import { getCollection } from 'astro:content';
import LibrosLista from '../../components/LibrosLista.astro';
import Mesi from '../../components/Mesi.astro';

const todosLosLibros = await getCollection('libros');
/* const tuttiIconcorrenti = await getCollection('concorrenti'); */
const librosFebrero = todosLosLibros.filter(
  libro => libro.data.monthRead === 'febrero'
);

// filter only unique libros
const uniqueLibrosFebrero = librosFebrero.filter(
  (libro, index, self) =>
    index ===
    self.findIndex(
      t =>
        t.data.title === libro.data.title && t.data.author === libro.data.author
    )
);

const countLibrosFebrero = librosFebrero.length;
---

<LayoutLibros title='Libros'>
  <Header />
  <Main>
    <H1 month='Febrero' count={countLibrosFebrero} />
    <Books>
      <LibrosLista libros={uniqueLibrosFebrero} />
    </Books>
    <Mesi />
  </Main>
</LayoutLibros>
