---
import LayoutLibros from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Main from '../../components/UI/Main.astro';
import H1 from '../../components/UI/H1.astro';
import { getCollection } from 'astro:content';
import LibrosLista from '../../components/LibrosLista.astro';
import Books from '../../components/UI/Books.astro';

const todosLosLibros = await getCollection('libros');
const librosMarzo = todosLosLibros.filter(
  libro => libro.data.monthRead === 'marzo'
);
// filter only unique libros
const uniqueLibrosMarzo = librosMarzo.filter(
  (libro, index, self) =>
    index ===
    self.findIndex(
      t =>
        t.data.title === libro.data.title && t.data.author === libro.data.author
    )
);

const countLibrosMarzo = uniqueLibrosMarzo.length;
---

<LayoutLibros title='Libros'>
  <Header title='Libros' />
  <Main>
    <H1 month='Marzo' count={countLibrosMarzo} />
    <Books>
      <LibrosLista libros={librosMarzo} />
    </Books>
  </Main>
</LayoutLibros>
