---
import Layout2025 from '../../layouts/Layout2025.astro';
import { getCollection } from 'astro:content';
const todosLosLibros = await getCollection('libros');

import LibrosLista2024 from 'astro/components/2024/LibrosLista2024.astro';

// filter only unique libros
const uniqueLibros = todosLosLibros.filter(
  (libro, index, self) =>
    index ===
    self.findIndex(
      t =>
        t.data.title === libro.data.title && t.data.author === libro.data.author
    )
);

// count libros
const countLibros = todosLosLibros.length;
---

<Layout2025 title='liburuak'>
  <div class='min-h-screen bg-basque-10 overflow-x-hidden p-6'>
    <h1 class='text-3xl font-bold text-white mt-4 mb-16'>
      Todos los libros del (2024) <span>{countLibros} </span>
    </h1>
    <div class='books'>
      <LibrosLista2024 libros={uniqueLibros} />
    </div>
  </div>
</Layout2025>;
