---
import Liburua from 'astro/components/dashboard/liburuak/Liburua.astro';
import Layout2025 from '../../layouts/Layout2025.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const books = await getCollection('libros25');

  return books.map(book => ({
    params: { slug: book.slug },
    props: { libro: { ...book.data, slug: book.slug } }, // ✅ Fix libro structure
  }));
}

// Access the book data from props
const { libro } = Astro.props;
---

<Layout2025 title={libro.title} description={libro.body}>
  <main class='max-w-3xl mx-auto p-6'>
    <Liburua libro={libro} />
  </main>
</Layout2025>
