---
import type { GetStaticPaths } from 'astro';
import Layout2025 from '../../layouts/Layout2025.astro';
import H1 from 'astro/components/dashboard/liburuak/H1.astro';
import { getCollection } from 'astro:content';
import LibrosLista2025 from 'astro/components/dashboard/LibrosLista2025.astro';
import CategoryList from 'astro/components/dashboard/liburuak/category/CategoryList.astro';
import type { CollectionEntry } from 'astro:content';

export const getStaticPaths: GetStaticPaths = async () => {
  const allBooks: CollectionEntry<'libros25'>[] =
    await getCollection('libros25');

  const allTheTags = allBooks.flatMap(book =>
    book.data.tags.map(tag => tag.toLowerCase())
  );
  const uniqueTags = Array.from(new Set(allTheTags));

  const paths = uniqueTags.map(lowerTag => {
    const booksByTag = allBooks.filter(book =>
      book.data.tags.some(tag => tag.toLowerCase() === lowerTag)
    );
    return {
      params: {
        tag: lowerTag,
      },
      props: {
        tag: lowerTag,
        allBooks: booksByTag,
        fullBooks: allBooks,
      },
    };
  });

  return paths;
};
---

<Layout2025 title='liburuak'>
  <main
    class='bg-basque-10 relative mx-auto p-6 overflow-x-hidden min-h-screen'>
    <H1 body={`Book Tagged: ${Astro.props.tag}`} />

    {/* @ts-ignore */}

    <CategoryList tags={Astro.props.fullBooks} activeTag={Astro.props.tag} />

    {/* @ts-ignore */}
    <LibrosLista2025 libros={Astro.props.allBooks} />
  </main>
</Layout2025>
