---
import { getCollection } from 'astro:content';
import LibrosLista2025 from 'astro/components/dashboard/LibrosLista2025.astro';
import Layout2025 from '../../layouts/Layout2025.astro';
import NavLiburuak2025 from '@components/dashboard/NavLiburuak2025.vue';

const todosLosLibros2025 = await getCollection('libros25');
const uniqueLibros25 = todosLosLibros2025.filter(
  (libro, index, self) =>
    index ===
    self.findIndex(
      t =>
        t.data.title === libro.data.title && t.data.author === libro.data.author
    )
);
---

<Layout2025 title='liburuak'>
  <div class='min-h-screen bg-basque-10 overflow-x-hidden p-6'>
    <div class='books'>
      <LibrosLista2025 libros={uniqueLibros25} />
    </div>
  </div>
</Layout2025>
