---
import Layout2025 from '../../layouts/Layout2025.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const lehiakideak = await getCollection('concorrenti25');

  return lehiakideak.map(lehiakide => {
    const nome = lehiakide.data.nome;
    let slug = lehiakide.data.slug;

    if (!slug) {
      console.warn(`⚠️ Missing slug for ${nome}, generating from nome.`);
      slug = nome.toLowerCase().replace(/\s+/g, '-');
    }

    return {
      params: { slug },
      props: { lehiakide: { ...lehiakide.data, slug } },
    };
  });
}

const { slug } = Astro.params;
const { lehiakide } = Astro.props;
---

<Layout2025>
  {lehiakide.slug}
  {lehiakide ? <h1>{lehiakide.slug}</h1> : <h1>Loading...</h1>}
</Layout2025>
