---
import Layout2025 from '../../layouts/Layout2025.astro';
import { getCollection } from 'astro:content';
import CardConcorrente from 'astro/components/dashboard/CardConcorrente.astro';
const concorrenti = await getCollection('concorrenti25');

import ArticleLehiakideak from '../../components/dashboard/ArticleLehiakideak.vue';
---

<Layout2025 title='Lehiakideak'>
  <section class='hero'>
    <h1>Ezagutu lehiakideak!</h1>
    <p>Lehiakideak hemen agertuko dira.</p>
    <button class='btn btn-success'>CTA</button>
  </section>

  <section class='profiles'>
    {
      concorrenti.map(concorrente => (
        <ArticleLehiakideak
          concorrente={{
            ...concorrente.data,
            image: concorrente.data.image.src,
          }}
        />
      ))
    }
  </section>

  <style>
    .hero {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: #f8f9fa;
    }

    h1 {
      font-size: 2.25rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    .profiles {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 1rem;
      padding: 1rem;
    }
  </style>
</Layout2025>
