---
import type { CollectionEntry } from 'astro:content';
import Category from './Category.astro';

type Props = {
  tags: CollectionEntry<'libros25'>[];
  activeTag?: string;
};

const { tags, activeTag }: Props = Astro.props;

const uniqueTags = Array.from(new Set(tags.flatMap(tag => tag.data.tags)));
---

<div class='flex flex-wrap gap-2 overflow-x-auto scrollbar-hide mb-10'>
  <!-- ✅ Fix: Pass active state for 'All' -->
  <Category tag='All' active={Astro.url.pathname === '/liburuak'} />

  {
    uniqueTags.map(uniqueTag => (
      <Category
        tag={uniqueTag}
        active={
          Astro.url.pathname ===
          `/liburuak/${encodeURIComponent(uniqueTag.toLowerCase())}`
        }
      />
    ))
  }
</div>

<style>
  .flex {
    gap: 16px;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
  }

  p {
    color: black;
  }
</style>
