---
import type { CollectionEntry } from 'astro:content';
import Category from './Category.astro';

type Props = {
  tags: CollectionEntry<'libros25'>[];
};

const { tags } = Astro.props;
---

<div class='flex'>
  {
    Array.from(new Set(tags.flatMap(tag => tag.data.tags))).map(uniqueTag => (
      <Category tag={uniqueTag} />
    ))
  }
</div>
<style>
  .flex {
    gap: 16px;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
  }
  p {
    color: black;
  }
</style>
