---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Leader from '../components/Leader.astro';
import  {getCollection } from 'astro:content'
const tuttiConcorrenti = await getCollection('concorrenti');
// Sort by points in descending order
const topThree = tuttiConcorrenti.sort((a, b) => (b.data.punti) - a.data.punti).slice(0, 3);
// Rearrange the order: [Second Place, First Place, Third Place]
const reordered = [topThree[1], topThree[0], topThree[2]];
console.log(reordered, topThree[0]);



import {Image} from 'astro:assets';
---

<Layout title="Irakurketa 2024">
	<Header />
	<main>
		<div class="flex justify-around">
        {reordered.map((concorrente, index ) => <Leader concorrente={concorrente} position={index + 1}/>)
            }
		</div>
		<div class="flex gap-x-1">
			{tuttiConcorrenti.map((concorrente, index) => <Leader concorrente={concorrente} position={index + 1} />).slice(3,7)}
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		/* padding: 1rem; */
		width: 800px;
		max-width: calc(100% - 0.5rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
