---
/* const { name, count, topThreeTags, image } = Astro.props; */
import Layout2025 from '../layouts/Layout2025.astro';
import AddBookForm from '../components/dashboard/AddBookForm.astro';
import { getCollection } from 'astro:content';
import CardConcorrente from 'astro/components/dashboard/CardConcorrente.astro';
import Header2025 from 'astro/components/dashboard/Header2025.vue';
import BookCount from 'astro/components/dashboard/BookCount.astro';
import BookYearCount from 'astro/components/dashboard/BookYearCount.astro';
import IconsTags2025 from 'astro/components/dashboard/IconsTags2025.astro';
import '@styles/globals.css';

const currentPath = Astro.url.pathname;
function activeLink(path: string) {
  return currentPath === path
    ? 'bg-basque-10 text-white font-semibold uppercase mx-2'
    : 'text-gray-100';
}
const concorrenti = await getCollection('concorrenti25');

interface Concorrente {
  id: number;
  name: string;
  points: number;
}
export interface Props {
  concorrenti: Concorrente[];
}

const shuffledConcorrenti = concorrenti.sort(() => Math.random() - 0.5);
---

<Layout2025>
  <div class='min-h-screen flex bg-basque-40 overflow-x-hidden'>
    <!-- Responsive Sidebar: Adjust width on smaller screens -->
    <div
      class='hidden md:block lg:block w-64 bg-black text-gray-100 flex-col justify-between'>
      <div class='p-0'>
        <div class='hidden md:block md:mt-1'>
          <AddBookForm />
        </div>
        <nav class='mt-8 space-y-4'>
          <a
            href='/'
            class={`block py-2 px-4 rounded-lg transition-all text-sm font-semibold ${activeLink('/')}`}>
            Home
          </a>
          <a
            href='/liburuak'
            class={`block py-2 px-4 rounded-lg transition-all text-sm font-semibold ${activeLink('/liburuak')}`}>
            Liburuak
          </a>
          <a
            href='/lehiakideak'
            class={`block py-2 px-4 rounded-lg transition-all text-sm font-semibold ${activeLink('/lehiakideak')}`}>
            Lehiakideak
          </a>
          <a
            href='/2024'
            class={`block py-2 px-4 rounded-lg transition-all text-sm font-semibold ${activeLink('/2024')}`}>
            2024
          </a>
          <AddBookForm />
        </nav>
      </div>
    </div>

    <!-- Main Content Area -->
    <div class='flex-1 px-0 overflow-y-auto bg-black'>
      <Header2025 client:load />
      <!-- Concorrente Details with Responsive Grid -->
      <main class='mt-6'>
        <div class='bg-black rounded-t-lg shadow-lg p-6 flex flex-col gap-8'>
          <header
            class='bg-basque-10 shadow-xl rounded-lg px-1 sm:p-6 flex items-center stripes stripes-white stripes-reverse py-6'>
            <h4 class='text-xl md:text-3xl font-semibold text-white shadow-xl'>
              🕵️‍♂️ Lehiakidearen Informazioa <span
                class='text-lg text-red-500 shadow-xl'>
                (Konfidentziala!)</span
              >
            </h4>
          </header>

          <!-- Responsive Grid for Concorrente Info -->
          <div class='grid grid-cols-1 md:grid-cols-2 gap-4'>
            {
              shuffledConcorrenti.map(concorrente => (
                <CardConcorrente concorrente={concorrente} />
              ))
            }
          </div>
          <div
            class='grid grid-cols-1 md:grid-cols-2 gap-6 shadow-lg rounded-lg'>
            <BookCount />
            <BookYearCount />
            <IconsTags2025 />
            <!--  <div
              class='bg-gradient-to-tr from-pink-100 to-pink-200 p-4 sm:p-6 rounded-lg shadow-md md:col-span-2 hover:scale-105 transition-transform'>
              <h4 class='text-gray-700 text-lg sm:text-xl font-medium'>
                Genero Kuttunak
              </h4>
              <ul
                class='flex justify-center space-x-2 sm:space-x-4 mt-2 sm:mt-4'>
                top 3

              </ul>
            </div> -->
            <div class='p-6 sm:block md:hidden text-gray-100'>
              <AddBookForm />
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</Layout2025>
<style>
  header h2 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }
  @keyframes growWidth {
    from {
      width: 0;
    }
    to {
      width: var(--target-width); /* Using CSS variable for dynamic width */
    }
  }

  .progress-bar {
    background-color: #4caf50; /* Use dynamic color via class or style */
    height: 100%;
    border-radius: 5px;
    animation: growWidth 2s ease-out forwards; /* Ensure animation fills the bar to the target width */
  }
</style>
