---
import Layout from '../layouts/Layout.astro';
/* import Card from '../components/Card.astro'; */
import Header from '../components/Header.astro';
import Leader from '../components/Leader.astro';
import Mesi from '../components/Mesi.astro';
import NotLeader from '../components/NotLeader.astro';
import { getCollection } from 'astro:content';
import Main from '../components/UI/Main.astro';
const tuttiConcorrenti = await getCollection('concorrenti');
/* const todosLosLibros = await getCollection('libros'); */
// Sort by points in descending order
const topThree = tuttiConcorrenti
  .sort((a, b) => b.data.punti - a.data.punti)
  .slice(0, 3);
// Rearrange the order: [Second Place, First Place, Third Place]
const reordered = [topThree[1], topThree[0], topThree[2]];
---

<Layout title='Irakurketa 2024' description='Irakurketa 2024'>
  <Header />
  <Main>
    <div class='mb-12 border border-collapse border-transparent'>
      <div class='grid grid-cols-3 h-full gap-x-1 mt-4 md:mt-8 lg:mt-14'>
        {
          reordered.map((concorrente, index) => (
            <div
              class={`${
                index === 1
                  ? 'translate-y-[-40px] md:translate-y-[-50px] lg:translate-y-[-62px] transition  h-[calc(100%+20px)] md:h-[calc(100%+25px)] lg:h-[calc(100%+30px)]'
                  : ''
              }`}>
              <Leader
                concorrente={concorrente}
                position={index + 1}
                key={index}
              />
            </div>
          ))
        }
      </div>

      <div class='sec'>
        {
          tuttiConcorrenti
            .slice(3, 8)
            .map((concorrente, index) => (
              <NotLeader
                concorrente={concorrente}
                position={index + 4}
                key={index}
              />
            ))
        }
      </div>
    </div>

    <Mesi />
  </Main>
</Layout>

<style>
  .sec {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    padding: 0;
  }
</style>
