---
import LayoutLibros from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import { getCollection } from 'astro:content';
import LibrosLista from '../components/LibrosLista.astro';

const todosLosLibros = await getCollection('libros');

// filtrer the libros by concorrente
/* const librosAsier = todosLosLibros
  .filter(libro => libro.data.concorrente === 'asier')
  .map(libro => libro.data.title); */
---

<LayoutLibros title='Libros'>
  <Header />
  <main class='px-24 max-sm:px-5 max-w-7xl mx-auto w-full'>
    <h1 class='text-6xl font-bold text-red-500 uppercase mt-4 mb-16'>libros</h1>
    <p class='text-red-500 text-2xl mb-24 max-sm:mb-14'>
      some Lorem, ipsum dolor.
    </p>

    <div class='books'>
      <LibrosLista libros={todosLosLibros} />
    </div>
  </main>
</LayoutLibros>

<style>
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeInScaleUp {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .books {
    font-size: 0.875rem;
    margin-bottom: calc(1em + 2 vw);
    line-height: 16.8px;
    display: grid;
    gap: 1.5em;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    animation: fadeInScaleUp 1s ease-in-out;
  }
</style>
