---
type Props = {
  body: string;
};

const { body } = Astro.props;
---

<h1 class='mb-10'>
  {body}
</h1>

<style>
  h1 {
    --accent: oklch(75% 0.18 calc(calc(196 + 76) + 240) / 1);
    --hue: 196;
    --rotated-hue: calc(var(--hue) + var(--hue-rotate));
    --hue-rotate-deg: calc(var(--hue-rotate) * 1deg);
    font-size: clamp(2.75rem, 10vw, 5.5rem);
    line-height: 0.9;
    -webkit-text-stroke: 3px var(--accent);
    paint-order: stroke fill;
    color: #fff;
    text-shadow:
      1px 1px 0 var(--accent),
      2px 2px 0 var(--accent),
      3px 3px 0 var(--accent),
      4px 4px 0 var(--accent);
    font-family: 'Londrina Solid', system-ui, sans-serif;
    font-weight: 900;
    font-style: normal;
  }
</style>
