<header>
  <nav
    class='flex mx-auto items-center border shadow-lg border-white justify-evenly w-full gap-2 py-4 px-4 text-xs rounded-lg'
  >
    <!-- <a
      class='py-2 font-bold uppercase'
      href='/'
      target='_blank'
      rel='noopener noreferrer'
    >
      Home
    </a> -->
    <a href='/'>
      <span class='relative flex h-4 w-4'>
        <span
          class='animate-ping ap absolute inline-flex h-full w-full rounded-full'
        ></span>
        <span class='ap relative inline-flex rounded-full h-4 w-4'></span>
      </span>
    </a>
    <a
      class='py-2 font-bold uppercase'
      href='/libros'
      rel='noopener noreferrer'
    >
      Libros
    </a>

    <select data-choose-theme class='py-1 px-2 rounded-md text-xl'>
      <option value=''>Theme</option>
      <!-- <option value='default' class=''>Default</option> -->
      <option value='alessandro'>Alessandro</option>
      <option value='amaia'>Amaia</option>
      <option value='asier'>Asier</option>
      <option value='pink'>Irene</option>
      <option value='luca'>Luca</option>
      <option value='malen'>Malen</option>
      <option value='oihana'>Oihana</option>
      <option value='unai'>Unai</option>
    </select>
    <a href='/'>
      <span class='relative flex h-4 w-4'>
        <span
          class='animate-ping ap absolute inline-flex h-full w-full rounded-full'
        ></span>
        <span class='ap relative inline-flex rounded-full h-4 w-4'></span>
      </span>
    </a>
  </nav>
</header>

<style>
  nav {
    background: var(--bg-header);
    border: 2px solid var(--nav-border);
    box-shadow: 2px 4px 8px var(--nav-border);
    /* animation: pulse 2s infinite; */
    /*  background-image: linear-gradient(
      50deg,
      hsl(274deg 100% 25%) 0%,
      hsl(297deg 100% 29%) 13%,
      hsl(319deg 100% 34%) 24%,
      hsl(342deg 100% 39%) 34%,
      hsl(4deg 100% 43%) 43%,
      hsl(26deg 100% 48%) 52%,
      hsl(30deg 100% 50%) 60%,
      hsl(15deg 100% 50%) 68%,
      hsl(1deg 100% 50%) 76%,
      hsl(346deg 100% 51%) 84%,
      hsl(331deg 100% 51%) 91%,
      hsl(316deg 100% 51%) 100%
    ); */
  }
  a {
    color: var(--text);
    font-size: 1.55rem;
    font-weight: 900;
    line-height: 1.8;
  }

  select {
    background-color: var(--bg-card);
  }
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(36, 40, 66, 0.5);
    }
    50% {
      box-shadow: 0 0 10px 10px rgba(36, 40, 66, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(36, 40, 66, 0.5);
    }
  }

  span.ap {
    background-color: var(--text);
    opacity: 0.75;
  }
</style>
