---
import ButtonLuca from '../components/ButtonLuca.astro';
import ButtonAsier from '../components/ButtonAsier.astro';
import ButtonAmaia from '../components/ButtonAmaia.astro';
import ButtonMalen from '../components/ButtonMalen.astro';
import ButtonIrene from '../components/ButtonIrene.astro';
import ButtonOihana from '../components/ButtonOihana.astro';
import ButtonUnai from '../components/ButtonUnai.astro';
import ButtonAlessandro from '../components/ButtonAlessandro.astro';
---

<div class='flex flex-wrap gap-2 mb-8 buttons'>
  <div x-data='{ open: false }'>
    <ButtonLuca />
  </div>
  <div x-data='{ open: false }'>
    <ButtonAsier />
  </div>
  <div x-data='{ open: false }'>
    <ButtonAmaia />
  </div>
  <div x-data='{ open: false }'>
    <ButtonMalen />
  </div>
  <div x-data='{ open: false }'>
    <ButtonIrene />
  </div>
  <div x-data='{ open: false }'>
    <ButtonOihana />
  </div>
  <div x-data='{ open: false }'>
    <ButtonUnai />
  </div>
  <div x-data='{ open: false }'>
    <ButtonAlessandro />
  </div>
</div>
