---
/* const tuttiConcorrenti = await getCollection('concorrenti'); */
/* const tuttiConcorrenti = await getCollection('concorrenti'); */
const { concorrente } = Astro.props;
/* const topThree = tuttiConcorrenti
  .sort((a, b) => b.data.punti - a.data.punti)
  .slice(0, 3); */

// Rearrange the order: [Second Place, First Place, Third Place]
/* const reordered = [topThree[1], topThree[0], topThree[2]]; */

import { Image } from 'astro:assets';
---

<div class='instructions'>
  <Image
    src={concorrente.data.image}
    alt='proto'
    class='rounded-full object-cover aspect-square max-w-[120px]'
    width={100}
    format='webp'
  />

  <a
    href={`/concorrenti/${concorrente.data.username}`}
    class='name capitalize text-4xl'>{concorrente.data.username}</a
  >

  <p class='punti text-3xl'>{concorrente.data.punti}</p>
</div>

<style>
  .instructions {
    padding: 1rem;
    border-top: 1px solid var(--text);
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 0.5rem;
    align-items: center;
    width: 100%;
  }
  /*   .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  } */
</style>
