---
import { getCollection, type CollectionEntry } from 'astro:content';
import LayoutConcorrente from '../../layouts/LayoutConcorrente.astro';
export async function getStaticPaths() {
  const concorrenti = await getCollection('concorrenti');
  const libros = await getCollection('libros');
  // filtrer the libros by concorrente

  const paths = concorrenti.map(concorrente => ({
    params: { slug: concorrente.slug },
    props: { concorrente },
  }));

  console.log('Generated paths:', paths);
  console.log('libros:', libros.length);

  return paths;
}

type Props = {
  concorrente: CollectionEntry<'concorrenti'>;
  libro: CollectionEntry<'libros'>[];
};

const { concorrentenpm } = Astro.props;
---

<LayoutConcorrente>
  <h1>{concorrente.data.nome}</h1>
  <span>{concorrente.data.punti}</span>
</LayoutConcorrente>
