---
import LayoutConcorrente from '../../layouts/LayoutConcorrente.astro';
---

<LayoutConcorrente title='Concorrenti'>
  <a href='/concorrenti/luca'>Luca</a>
  <a href='/'>Home</a>
</LayoutConcorrente>
