<footer class='bg-gray-800'>
  <div
    class='mx-auto max-w-7xl px-6 py-12 md:flex md:items-center md:justify-between lg:px-8'>
    <!-- Fun Basque message -->
    <div class='flex flex-col items-center gap-y-2 md:order-2'>
      <p class='text-sm text-gray-400'>
        Ez dago sare sozialik hemen — kanpora irten eta benetako mundua gozatu!
      </p>

      <ul class='flex space-x-4'>
        <li>
          <a
            href='/kontaktua'
            class='text-sm text-gray-400 hover:text-gray-300'>
            Kontaktua
          </a>
        </li>
        <li>
          <a href='/nor-gara' class='text-sm text-gray-400 hover:text-gray-300'>
            Nor gara
          </a>
        </li>
      </ul>

      <button
        class='bg-gray-600 hover:bg-gray-500 text-white px-3 py-2 rounded'
        onclick="window.scrollTo({top: 0, behavior: 'smooth'});">
        Hasierara itzuli
      </button>
    </div>

    <!-- Copyright -->
    <p class='mt-8 text-center text-sm text-gray-400 md:order-1 md:mt-0'>
      &copy; 2025 Alessandro Giuzio
    </p>
  </div>
</footer>
