---
const currentPath = Astro.url.pathname;
function activeLink(path: string) {
  return currentPath === path
    ? 'bg-basque-10 text-white font-semibold uppercase'
    : 'text-gray-100';
}
---

<nav class='bg-gray-800 overflow-x-hidden'>
  <div class='mx-auto max-w-7xl px-4 sm:px-6 lg:px-8'>
    <div class='flex h-16 items-center justify-center'>
      <!-- Brand/Logo -->
      <!--  <div class='flex-shrink-0'>
        <a href='/' class='text-white font-bold text-xl'> MySite </a>
      </div> -->

      <!-- Navigation Links -->
      <ul class='flex space-x-4'>
        <li>
          <a
            href='/'
            class={`block py-2 px-4 rounded-lg transition-all text-sm font-semibold ${activeLink('/')}`}>
            Home
          </a>
        </li>
        <li>
          <a
            href='/liburuak'
            class={`block py-2 px-4 rounded-lg transition-all text-sm font-semibold ${activeLink('/liburuak')}`}>
            Liburuak
          </a>
        </li>
        <li>
          <a
            href='/lehiakideak'
            class={`block py-2 px-4 rounded-lg transition-all text-sm font-semibold ${activeLink('/lehiakideak')}`}>
            Lehiakideak
          </a>
        </li>
        <li>
          <a
            href='/2024'
            class={`block py-2 px-4 rounded-lg transition-all text-sm font-semibold ${activeLink('/2024')}`}>
            2024
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
