---

---

<main class='px-24 max-sm:px-5 max-w-7xl mx-auto w-full'>
  <slot />
</main>

<style>
  main {
    margin: 0 auto;
    padding: 1rem;
    /* width: 800px; */
    max-width: calc(100% - 0.5rem);
    width: 100%;
    color: var(--text);
    background-color: var(--bg);
    font-size: 20px;
    line-height: 1.6;
  }
</style>
